server-name={{ minecraft_motd }}
gamemode={{ minecraft_gamemode }}
force-gamemode={{ minecraft_gamemode_force | to_json }}
difficulty={{ minecraft_difficulty }}
allow-cheats=false
max-players={{ minecraft_players }}
online-mode={{ minecraft_online | to_json }}
white-list={{ minecraft_whitelist }}
server-port=19132
server-portv6=19133
view-distance={{ minecraft_view_distance }}
tick-distance=4
player-idle-timeout=30
max-threads=8
level-name=Bedrock
level-seed=
default-player-permission-level=member
texturepack-required=false
content-log-file-enabled=false
compression-threshold=1
server-authoritative-movement=server-auth
player-movement-score-threshold=20
player-movement-distance-threshold=0.3
player-movement-duration-threshold-in-ms=500
correct-player-movement=false
server-authoritative-block-breaking=false
