enable-jmx-monitoring=false
rcon.port=25575
enable-command-block={{ minecraft_commandblocks | to_json }}
gamemode={{ minecraft_gamemode }}
enable-query=true
level-name=world
motd={{ minecraft_motd }}
query.port=25565
pvp={{ minecraft_pvp | to_json }}
difficulty={{ minecraft_difficulty }}
network-compression-threshold=256
max-tick-time={{ minecraft_maxtick }}
require-resource-pack={{ minecraft_resource_pack_require | to_json }}
max-players={{ minecraft_players }}
use-native-transport=true
online-mode={{ minecraft_online | to_json }}
enable-status=true
allow-flight=false
broadcast-rcon-to-ops=true
view-distance={{ minecraft_view_distance }}
server-ip=
resource-pack-prompt=
allow-nether={{ minecraft_allow_nether | to_json }}
server-port=25565
enable-rcon=false
sync-chunk-writes=true
op-permission-level=4
prevent-proxy-connections=false
resource-pack={{ minecraft_resource_pack }}
entity-broadcast-range-percentage=100
rcon.password=
player-idle-timeout=0
debug={{ minecraft_debug | to_json }}
force-gamemode={{ minecraft_gamemode_force | to_json }}
rate-limit=0
hardcore={{ minecraft_hardcore | to_json }}
white-list={{ minecraft_whitelist | to_json }}
broadcast-console-to-ops=true
spawn-npcs={{ minecraft_spawn_npcs | to_json }}
spawn-animals={{ minecraft_spawn_animals | to_json }}
snooper-enabled=true
function-permission-level=2
text-filtering-config=
spawn-monsters={{ minecraft_spawn_monsters | to_json }}
enforce-whitelist={{ minecraft_whitelist_enforce | to_json }}
resource-pack-sha1={{ minecraft_resource_pack_sha1 }}
spawn-protection=16
max-world-size={{ minecraft_world_size}}
